#choices-outer{
	background-image: url('/global/images/sky_sun_and_bees.webp');
    background-size: auto 100%;
}

.choices {
    justify-content:center;
    display:flex;
    gap:5%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}

a.choice {
    width:45%;
    height:50vh;
    background-position: center;
    background-size: 100% auto;
    text-align: center;
}

a.choice > p {
    margin-top: 25vh;
    font-size:min(4vw, 400%);
    min-width:70%;
    margin-left:10%;
    margin-right:10%;
    border: 2px solid var(--logo-blue);
    background-color: var(--button-blue);
}

a.choice:first-child {
    background-image: url('/global/images/happy_kindergarden_children_and_parents.webp');
    background-size: auto 100%;
    background-repeat: no-repeat;
}

a.choice:nth-child(2) {
    background-image: url('/global/images/children_having_fun.webp');
    background-size: auto 100%;
    background-repeat: no-repeat;
}

#choices-outer .read_more {
    text-align: center;
    max-width:30%;
    margin:auto;
}

#values {
    margin-bottom:4%;
}

#values > vertical-split:first-child {
    width: 70vw;
}

#values > vertical-split:nth-child(2) {
    flex-grow: 1;
    width: 30vw;
}

values-box {
    display:flex;
    gap:2%;
    margin:2%;
    margin-bottom: 8vh;
}

value {
    width:33.33%;
}

#values-outer {
    background-image: url('/global/images/grass_and_sky.png');
    background-position: bottom;
    background-color: #C3E8F3;
    background-repeat: no-repeat;
    background-size: 100% auto;
}

#values .read_more {
	max-width:60%;
	margin:auto;
}

#flower_kid {
    width:100%;
    padding-top:5vh;
    padding-bottom:5vh;
}

#registration > vertical-splits {
    margin:3vw;
}

#registration > vertical-splits > vertical-split {
    display:flex;
    flex-direction: column;
}

#registration {
    background-image: url('/global/images/worms_in_dirt.png');
    background-size: auto auto;
    background-position: center;
    background-color:#412B12;
    background-repeat: no-repeat;
}

#kindergarden_boy {
    background-image: url('/global/images/rainy_boy.webp');
    background-size: auto auto;
    background-position: center;
    height:40vh;
    width:100%;
}

#children_legs{
    background-image: url('/global/images/legs_of_children.webp');
    background-size: auto auto;
    background-position: center;
    height:40vh;
    width:100%;
}

.h3_frontpage{
    text-align:center;
	font-size:180%;
    color:white;
}

@media only screen and (max-width: 760px) {
    values-box {
        flex-wrap: wrap;
        flex-grow: 0;
        flex-direction: column;
        gap: 20px;
    }
}