/* makes the width for the logo 200px */
.footerlogo{
    width:100px;
    height:50px;
}

/* flex-column is a custom html tag which are used in all columns instead of divs so rules can be aplied to all elements which has the flex-column tag and flex-grow does so that each columns will share avialbable space proportiornally and flex-direction:column; makes it so that each flex-column tag element is placed vertically like a column  */
flex-column {
    flex-grow:1;
    display:flex;
    flex-direction: column;
    border-radius: 5px;
    margin:25px;
}

p{
    margin:3px;
}

.header {
    font-size:125%;
}

/* footer > *:nth-child(2){ */

a{
    text-decoration: none;
}

footer a:visited{
    color:inherit;
}

footer a:hover{
    color:#006854;
}

/* puts each of the column in the center and so the spacing between any items are equal */
footer > div:first-child{
    display:flex;
    justify-content:space-evenly; 
    background-color:#a0d9ef;
    border-top: solid 4px;
    width: 100%;
}

footer {
    width: 100%;
    background-color:#a0d9ef;
}

#education_only {
    padding: 8px;
    padding-bottom: 16px;
    text-align:center;
}

/* flex-grow divides space equally for all of the children of flexcontainer class because of child combinator selecter 'footer > *'  */

footer h2 {
    text-align: left;
    padding-left:0;
}

@media only screen and (max-width: 600px) {
    footer > div {
        flex-wrap: wrap;
        flex-grow: 0;
    }
}

@media only screen and (max-width: 760px) {
    footer > div {
        flex-wrap: wrap;
        flex-grow: 0;
    }
}