
/*** header.css is included internal in the file to prevent jitter in the nav bar ***/ 

/*******************************************
* TOP
********************************************/
#top {
    display:flex;
    width:100%;
    padding:.5vw;
    background-color:#84AEFF;
}

/* LOGO */
#top > .logo {
    max-width:20%;
}
#top > .logo img {
    width:20vw;
    height:5vw;
}
#top > .logo, #top_buttons {
    flex-grow:1;
}

/* NAVIGATION */
nav *[data-active], sub-nav *[data-active]{
    border-bottom: 4px solid rgb(255,200,200);
    padding-top:    4px solid transparent; /* To ensure text stay in center */
    color:rgb(255,200,200);
}
sub-sub-nav *[data-active] {
    color:rgb(255,200,200);
}

nav a {
    border: 1px solid black;
    box-shadow: 0 2px 20px -5px rgba(0, 0, 0, .7);
}

nav, sub-nav {
    /* for parent flexbox */
    flex-grow:3;

    /* for child flexboxes */
    display:flex;
    justify-content: space-around;
}

nav > *, sub-nav > * {
    margin: 4px 2vw 4px 2vw; /* top, right, bottom & left */
    background-color:gray;
    width:100%;
    text-align: center;

    /* Children */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

nav > *, sub-nav > * {
    margin: 4px 2vw 4px 2vw; /* top, right, bottom & left */
    background-color:rgba(0,0,0,.03);
    width:100%;
    text-align: center;
}

nav * {
    word-break: break-all;
}

nav a:active, #top_buttons a:active {
    color:rgb(255,170,170);
}

/* BUTTONS RIGHT (LOGIN, SIGN UP) */
#top_buttons custom-button {
    display:block;
    background-color: rgba(0,0,0,.03);
    text-align: center;
    width:100%;
    height:45%;
    margin:1.225%;
    padding-top:2.5%;
    pointer-events: none;
    box-shadow: 0 2px 10px -5px rgba(0, 0, 0, .7);
    outline: 1px solid black;
}

/* LOCATION BOX */
sub-nav {
    display:block;
    width:100%;
    padding:10px;
    background-color: gold;
}

location-box {
    padding-left:20px;
}

location-box > a {
    text-decoration: underline;
}

location-box > a:last-child {
    text-decoration: none;
}

sub-sub-nav > *{
    padding:8px;
}

@media only screen and (max-width: 600px) {
    #top > .logo img {
        color:red;
        /* transform: rotate(-90deg); */
        margin:auto;
    }

    #logo_rotated {
        display: block !important;
        height:95% !important;
        max-width:10vw !important;
        margin:auto !important;
    }
    #logo_normal {
        display: none !important;
    }

    #top > .logo a {
        width:100%;
        height:100%;
        display:block;
    }
}
