body {
    margin:0;
    padding:0;
}

* {
	box-sizing: border-box;
	margin:0;
	padding:0;
	border:0;
}

body {
	font-family: "Sen", serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}

:root{
	--logo-red: #A32638;
	--logo-blue: #002B7F;
	--logo-green: #006854;
	--logo-yellow: #FFC61E;
	--sky-blue: #CEDEFF;
	--pink: #D572AD;  
	--button-red: #CF2026;  
	--button-green: #7CE7A8;
	--button-blue: #85AEFF;
	--hot-pink: #FF7E91;
}

main {
	margin:20px;
}

.main-content-box {
	display:flex;
	width:95%;
	background-color:gold;
	margin:auto;
}

h1 {
	background-color: var(--button-green);
}