#about_us{
    background-color: var(--hot-pink);
    display:block;
}

#contact_opening{
background-color: var(--column-green);
}
column{
	max-width:45%;
    flex-grow:1;
    display:flex;
    flex-direction: column;
    border-radius: 5px;
    margin:25px;
}

#about_us_font_size{
font-size:25px;

}

kindergarten-aftercare{
flex-grow:1;
display:flex;
justify-content:flex-start; 
}

